name: Rust

on:
  pull_request:
  push:
    # trying and staging branches are for Bors config
    branches:
      - trying
      - staging

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: "-D warnings"

jobs:
  tests:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Run tests with japanese-transliteration on
      run: cargo test --verbose --features japanese-transliteration
    - name: Run tests with chinese-normalization-pinyin on
      run: cargo test --verbose --features chinese-normalization-pinyin
    - name: Run tests with swedish-recomposition on
      run: cargo test --verbose --features swedish-recomposition
    - name: Run irg-kvariants tests
      run: cargo test -p irg-kvariants --verbose

  clippy:
    name: Run Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: clippy
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.7.7
      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets -- --deny warnings

  fmt:
    name: Run Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.7.7
      - name: Run cargo fmt
        run: cargo fmt --all -- --check
